@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.border-dotted-thin {
  border: 1px dotted black;
}

.border-thin {
  border: 1px solid black;
}


/* Light theme */
.border-thin {
  border: 1px solid black;
}
.border-dotted-thin {
  border: 1px dotted black;
}

/* Dark theme overrides */
.dark .border-thin {
  border-color: white;
}
.dark .border-dotted-thin {
  border-color: white;
}