@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-white dark:bg-black;
}



/* Light theme */
.border-thin {
  border: 1px solid black;
}
.border-dotted-thin {
  border: 1px dotted black;
}

/* Dark theme overrides */
.dark .border-thin {
  border-color: white;
}
.dark .border-dotted-thin {
  border-color: white;
}